/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@400;500;600;700&display=swap'); */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
}
footer {
  margin-top: auto;
}
.focus\:ring-cyan-300:focus {
  --tw-ring-opacity: 0 !important;
}
* {
  --tw-ring-color: rgb(0 0 0 / 0) !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
